<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
  </head>
  <body style="margin: 0; padding: 0;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 30px 0 30px 0;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid #cccccc;">
            <tr>
              <td style="padding: 50px 30px 50px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
		  {% block header %}{% endblock %}
                  <tr>
                    <td align="right" style="padding: 10px 0px 10px 0px; font-family: Calibri; font-size: 16px;">
                        <a href="#in_english" style="color: #ff8a04; text-decoration:none;"><b>In English below</b></a>
                    </td>
                  </tr>
		  {% block fillme %}{% endblock %}
		  {% block toc %}{% endblock %}
		  {% block content %}{% endblock %}
                  <tr id="in_english">
                    <td align="center" style="padding: 50px 0px 50px 0px;font-family: Calibri; font-size: 16px;">
                      ***
                    </td>
                  </tr>
		  {{ self.fillme() }}
		  {% block toc_en %}{% endblock %}
		  {% block content_en %}{% endblock %}
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
