{% extends "toc_and_content.html" %}
{% block this_week scoped %}
  <tr>
    <td style="padding: 10px 0px 0px 0px; font-family: Georgia; font-size: 17px;">
        <i>Tällä viikolla</i>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 0px 5px 0px; font-family: Calibri; font-size: 16px;">
      <ul style="margin: 0;">
      {% for entry in this_week %}
        <li><a href="#entry_num_{{ entry.doc_id }}" style="color: #ff8a04; text-decoration:none;">{{ entry.header|e }}</a></li>
      {% endfor %}
      </ul>
    </td>
  </tr>
{% endblock this_week %}


{% block following_week scoped %}
  <tr>
    <td style="padding: 0px 0px 0px 0px; font-family: Georgia; font-size: 17px;">
        <i>Tulevilla viikoilla</i>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 0px 20px 0px; font-family: Calibri; font-size: 16px;">
      <ul style="margin: 0;">
      {% for entry in following_week %}
        <li><a href="#entry_num_{{ entry.doc_id }}" style="color: #ff8a04; text-decoration:none;"> {{ entry.header|e }}</a></li>
      {% endfor %}
      </ul>
    </td>
  </tr>
{% endblock following_week %}


{% block events scoped %}
{% for entry in this_week %}
  <tr>
    <td id="entry_num_{{entry.doc_id}}" style="padding: 10px 0px 20px 0px; font-family: Calibri; font-size: 16px;">
      <b>{{ entry.header|e }}</b><br/>
      {{ entry.content|e|nl2br }}
    </td>
  </tr>
{% endfor %}
{% for entry in following_week %}
  <tr>
    <td id="entry_num_{{entry.doc_id}}" style="padding: 10px 0px 20px 0px; font-family: Calibri; font-size: 16px;">
      <b>{{ entry.header|e }}</b><br/>
      {{ entry.content|e|nl2br }}
    </td>
  </tr>
{% endfor %}
{% endblock events %}


{% block this_week_en scoped %}
  <tr>
    <td style="padding: 10px 0px 0px 0px; font-family: Georgia; font-size: 17px;">
        <i>This week</i>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 0px 5px 0px; font-family: Calibri; font-size: 16px;">
      <ul style="margin: 0;">
      {% for entry in this_week %}
        <li><a href="#entry_num_{{ entry.doc_id }}" style="color: #ff8a04; text-decoration:none;">{{ entry.header|e }}</a></li>
      {% endfor %}
      </ul>
    </td>
  </tr>
{% endblock this_week_en %}


{% block following_week_en scoped %}
  <tr>
    <td style="padding: 0px 0px 0px 0px; font-family: Georgia; font-size: 17px;">
        <i>Following weeks</i>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 0px 20px 0px; font-family: Calibri; font-size: 16px;">
      <ul style="margin: 0;">
      {% for entry in following_week %}
        <li>&gt <a href="#entry_num_{{ entry.doc_id }}" style="color: #ff8a04; text-decoration:none;"> {{ entry.header|e }}</a></li>
      {% endfor %}
      </ul>
    </td>
  </tr>
{% endblock following_week_en %}


{% block events_en scoped %}
{% for entry in this_week %}
  <tr>
    <td id="entry_num_{{entry.doc_id}}" style="padding: 10px 0px 20px 0px; font-family: Calibri; font-size: 16px;">
      <b>{{ entry.header|e }}</b><br/>
      {{ entry.content|e|nl2br }}
    </td>
  </tr>
  {% endfor %}
  {% for entry in following_week %}
  <tr>
    <td id="entry_num_{{entry.doc_id}}" style="padding: 10px 0px 20px 0px; font-family: Calibri; font-size: 16px;">
      <b>{{ entry.header|e }}</b><br/>
      {{ entry.content|e|nl2br }}
    </td>
  </tr>
{% endfor %}
{% endblock events_en %}
